<br/>
<h1>Friends List</h1>

<div id="friends">
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend, class:"btn btn-primary" %>
    
    </p>
  <% end %>
</div>
<div>
  <br/>
<%= link_to "Add New friend", new_friend_path, class:"btn btn-success" %>
<br/>
<br/>
</div>